# Ignore unnecessary files
DerivedData/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.lock
Pods/
.swiftpm/

# Allow essential files
!*.swift
!*.xcodeproj/
!*.xcworkspace/
!*.plist
!*.entitlements
!Assets.xcassets/
!*.json

# Ensure .gitignore is tracked
!.gitignore
